# stick to click < 8.3.0 to ensure live reload works,
# see https://github.com/squidfunk/mkdocs-material/issues/8478
click<8.3.0
mkdocs<2.0
mkdocs-material
mkdocs-redirects
mkdocs-git-revision-date-localized-plugin
mkdocs-toc-sidebar-plugin
mkdocs-macros-plugin
./mkdocs-ldjson-plugin
mkdocs-autorefs
mkdocstrings[python]
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-section-index
