mkdocs
mkdocs-material
mkdocs-redirects
mkdocs-git-revision-date-localized-plugin
mkdocs-toc-sidebar-plugin
mkdocs-macros-plugin
mkdocs-autorefs
mkdocstrings[python]
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-section-index
